    <!--------------- Main Section ------------------>
    <main>
        <div class="main">
            <!-- Main Carousel which scales up on hovering -->
            <div class="outer-carousel">
                <div class="carousel">
                        <img src="images/carousel1.jpg" alt="" class="carousel1">
                        <img src="images/carousel2.jpg" alt="" class="carousel2">
                        <img src="images/carousel3.jpg" alt="" class="carousel3">
                </div>
            </div>
            <!-- Latest Songs Release Section -->
            <div class="latest-release-head" style="margin: auto; width: 80%;">
                <h2>Latest Release</h2>
            </div>
            <div class="latest-release-outer">
                <div class="latest-release-inner" style="margin-bottom: 60px;">
                    <div class="latest-release-poster">
                        <img src="images/humnava.jpg" alt="" class="humnava">
                        
                        <i class="fas fa-play latest-play"></i>
                    </div>
                    <div class="latest-release-text">
                        <p class="lat-desc-text-1" style="font-weight: bold;">Humnava</p>
                        <p class="lat-desc-text-2">Jubin Nautiyal</p>
                    </div>
                </div>
                <div class="latest-release-inner" style="margin-bottom: 60px;">
                    <div class="latest-release-poster">
                        <img src="images/dilnasheen.jpg" alt="" class="dilnasheen">
                        <i class="fas fa-play latest-play"></i>
                    </div>
                    <div class="latest-release-text">
                        <p class="lat-desc-text-1" style="font-weight: bold;">Dilnasheen</p>
                        <p class="lat-desc-text-2">Rahul Jain</p>
                    </div>
                </div>
                <div class="latest-release-inner">
                    <div class="latest-release-poster">
                        <img src="images/humnava.jpg" alt="" class="humnava">
                        <i class="fas fa-play latest-play"></i>
                    </div>
                    <div class="latest-release-text">
                        <p class="lat-desc-text-1" style="font-weight: bold;">Humnava</p>
                        <p class="lat-desc-text-2">Jubin Nautiyal</p>
                    </div>
                </div>
                <div class="latest-release-inner">
                    <div class="latest-release-poster">
                        <img src="images/dilnasheen.jpg" alt="" class="dilnasheen">
                        <i class="fas fa-play latest-play"></i>
                    </div>
                    <div class="latest-release-text">
                        <p class="lat-desc-text-1" style="font-weight: bold;">Dilnasheen</p>
                        <p class="lat-desc-text-2">Rahul Jain</p>
                    </div>
                </div>
            </div>
            <!-- Popular Artists Section -->
            <div class="latest-release-head" style="margin: auto; width: 80%;">
                <h2>Popular Artists</h2>
            </div>
            <!-- These are the Popular Artists, and by clicking their images you can go to their Profile Page -->
            <div class="popular-artists">
                <div>
                    <a href="secondPage.html"><img src="images/dinoJames.jpg" alt=""></a>
                    <p>Dino James</p>
                </div>
                <div>
                    <a href="secondPage.html"><img src="images/eminem.jpg" alt=""></a>
                    <p>Eminem</p>
                </div>
                <div>
                    <a href="secondPage.html"><img src="images/ed sheeran.jpg" alt=""></a>
                    <p>Ed Sheeran</p>
                </div>
                <div>
                    <a href="secondPage.html"><img src="images/arijitSingh.jpg" alt=""></a>
                    <p>Arijit Singh</p>
                </div>
                <div>
                    <a href="secondPage.html"><img src="images/adele.jpg" alt=""></a>
                    <p>Adele</p>
                </div>
                <div>
                    <a href="secondPage.html"><img src="images/emiway.jpg" alt=""></a>
                    <p>Emiway Bantai</p>
                </div>
                <div>
                    <a href="secondPage.html"><img src="images/Camila Cabello.jpg" alt=""></a>
                    <p>Camila Cabello</p>
                </div>
                <div>
                    <a href="secondPage.html"><img src="images/atifAslam.jpg" alt=""></a>
                    <p>Atif Aslam</p>
                </div>
                <div>
                    <a href="secondPage.html"><img src="images/Katy perry.jpg" alt=""></a>
                    <p>Katy Perry</p>
                </div>
                <div>
                    <a href="secondPage.html"><img src="images/rudy mancuso.jpg" alt=""></a>
                    <p>Rudy Manusco</p>
                </div>
                <div>
                    <a href="secondPage.html"><img src="images/billie eilish.jpg" alt=""></a>
                    <p>Billie Ellish</p>
                </div>
                <div>
                    <a href="secondPage.html"><img src="images/drake.jpg" alt=""></a>
                    <p>Drake</p>
                </div>
            </div>
            <!-- Stations Section -->
            <div class="stations-main-div">
            <!-- Stations-left is the classes used for animation present in the Station Section -->
                <div class="stations-left-main-div">
                    <div class="stations-left-1">
                        <div class="stations-left-2">
                            <div class="stations-left-3">
                                    <img src="images/stations.svg" alt="" class="stations-img">
                                <div>
                                    <p style="font-size: 1.5rem;">Stations</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- This is the content of stations sections -->
                <div class="stations-content-div">
                    <div>
                        <img src="images/chill.jpg" alt="">
                        <p style="font-size: 1.5rem;">Chill</p>
                    </div>
                    <div>
                        <img src="images/rock.jpg" alt="">
                        <p style="font-size: 1.5rem;">Rock</p>
                    </div>
                    <div>
                        <img src="images/love.jpg" alt="">
                        <p style="font-size: 1.5rem;">Love</p>
                    </div>
                    <div>
                        <img src="images/pop.jpg" alt="">
                        <p style="font-size: 1.5rem;">Pop</p>
                    </div>
                    <div>
                        <img src="images/retro.jpg" alt="">
                        <p style="font-size: 1.5rem;">Retro</p>
                    </div>
                    <div>
                        <img src="images/workout.jpg" alt="">
                        <p style="font-size: 1.5rem; left: 10%;" id="workout">Workout</p>
                    </div>
                </div>
            </div>
            <!-- Themes Section which are present Just below the stations section -->
            <div class="themes">
                <div class="themes-outer-div">
                    <div class="themes-inner-div"><span>Party</span></div>
                </div>
                <div class="themes-outer-div">
                    <div class="themes-inner-div"><span>Electronic</span></div>
                </div>
                <div class="themes-outer-div">
                    <div class="themes-inner-div"><span>Road</span></div>
                </div>
            </div>
            <!-- this div contains the language section of the page -->
            <!-- "language class is common to both hindi and english sections" -->
            <!-- in this way redundancy is handled. considering the re-usability of the code -->
            <div class="language english">
                <!-- latest english section -->
                <h2 class="language-heading">
                    Latest English
                </h2>
                <!-- contents of latest english -->
                <div class="language-content">
                    <div>
                        <img src="images/I'll Wait.jpg">
                        <p>I'll Wait</p>
                        <p>Aug 11, 2017</p>
                    </div>
                    <div>
                        <img src="images/let me go.jpg">
                        <p>Let me Go!</p>
                        <p>Aug 11, 2017</p>
                    </div>
                    <div>
                        <img src="images/qurantine clean.jpg">
                        <p>Qurantine Clean</p>
                        <p>Aug 11, 2017</p>
                    </div>
                    <div>
                        <img src="images/roar.jpg">
                        <p>Roar</p>
                        <p>Aug 11, 2017</p>
                    </div>
                    <div>
                        <img src="images/toosie slide.jpg">
                        <p>Toosie Slide</p>
                        <p>Aug 11, 2017</p>
                    </div>
                    <div>
                        <img src="images/uptown funk.png">
                        <p>Uptown Funk</p>
                        <p>Aug 11, 2017</p>
                    </div>
                </div>
            </div>
            <!-- this is the hindi section -->
            <div class="language hindi">
                <!-- hindi section heading -->
                <h2 class="language-heading">
                    Latest Hindi
                </h2>
                <!-- hindi section contents -->
                <div class="language-content">

                    <div>
                        <img src="images/baarish.jpeg">
                        <p>Baarish</p>
                        <p>Aug 11, 2017</p>
                    </div>
                    <div>
                        <img src="images/galiyaan.jpg">
                        <p>Galiyaan</p>
                        <p>Aug 11, 2017</p>
                    </div>
                    <div>
                        <img src="images/giveme some sunshine.jpg">
                        <p>Give me Some Sunshine</p>
                        <p>Aug 11, 2017</p>
                    </div>
                    <div>
                        <img src="images/kaun tujhe.jpg">
                        <p>Kaun Tujhe</p>
                        <p>Aug 11, 2017</p>
                    </div>
                    <div>
                        <img src="images/tera ban jaunga.jpg">
                        <p>Tera Ban Jaunga</p>
                        <p>Aug 11, 2017</p>
                    </div>
                    <div>
                        <img src="images/tere sang yara.jpg">
                        <p>Tere Sang Yaara</p>
                        <p>Aug 11, 2017</p>
                    </div>
                </div>
            </div> 
        </div>