<body>
    <!----------------Navbar Section ------------------------>
    <nav class="nav">
        <!----------- Ninja Logo ----------->
            <div class="ninja">
                <img src="images/ninja-logo.png" class="ninja-logo">
            </div>
        <!----------- Favourite Text which is written on the navbar ----------->
            <div class="fav-nav-txt">
                <h2>Favourites</h2>
            </div>
        <!----------- Dino Image at the right side of the navbar ----------->
            <div class="nav-right-img">
                <img src="images/profile.jpg" class="nav-right-profile">
            </div>
        <!----------- Notification icon on the Navbar ----------->
            <div class="notify">
                <i class="fas fa-bell" style="color: #FFC107;"></i>
            </div>
        <!----------- Search Bar on the Navbar ----------->
            <form action="/search" method="POST">
                <div class="search">
                    <button class="search-btn" type="submit"><i class="fas fa-search search-icon"></i></button>
                    <input type="text" class="search-input" placeholder="Search" name="query">
                </div>
            </form>
    </nav>  