        <!---------------- Side Menu Of playist Section ------------------->
        <aside id="playlist">
            <!-- Aside Heading where Playlist is written -->
                <div class="aside-head">
                    <h1 class="aside-head-h1">Playlist</h1>
                    <h4 style="display: inline-block;" class="aside-head-h4">
                        <a href="#queue-option-box" class="aside-head-h4">Queue <i class="fas fa-chevron-circle-down"></i></a>
                    </h4>
                </div>
                <!-- this is the queue box which will be shown when the user clicks on the Queue button -->
                <!-- it will have 3 options, playlists, favourite songs and Close button. it will close when one clicks on the close button. -->
                <div class="queue-options" id="queue-option-box">
                    <p><a style="color:#007bff; font-weight:bolder; cursor: pointer;">Playlists</a></p>
                    <hr>
                    <p><a style="color:#007bff; font-weight:bolder; cursor: pointer;">Favourite songs</a></p>
                    <hr>
                    <p><a href="#playlist" style="color:red; font-weight:bolder;">Close</a></p>
                </div>
            <!-- Songs section of the playlists -->
            <!-- There are total of 24 songs present in this playlist -->
            <!-- All the songs uses common classes: songs, songs-srno, songs-img-div, songs-img, songs-desc, like, and fav -->
                <!-- in this way redundancy is handled. considering the re-usability of the code -->
                <div class="aside-songs">
                    <!-- Song 1 -->
                    <div class="songs">
                        <div class="songs-srno">
                            <p>01</p>
                        </div>
                        <div class="songs-img-div">
                            <img src="images/mirage.jpg" alt="" class="songs-img">
                            <i class="fas fa-play songs-img-play mirage"></i>
                        </div>
                        <div class="songs-desc">
                            <p><b>Mirage</b></p>
                            <p>Dino James</p>
                        </div>
                        <div class="like fav">
                            <i class="fas fa-heart"></i>
                        </div>
                    </div>
                    <!----- Song 2 -------->
                    <div class="songs">
                        <div class="songs-srno">
                            <p>02</p>
                        </div>
                        <div class="songs-img-div">
                            <img src="images/jeenaJeena.jpg" alt="" class="songs-img">
                            <i class="fas fa-play songs-img-play jeenaJeena"></i>
                        </div>
                        <div class="songs-desc">
                            <p><b>Jeena Jeena</b></p>
                            <p>Atif Aslam</p>
                        </div>
                        <div class="like fav">
                            <i class="fas fa-heart"></i>
                        </div>
                    </div>
                    <!----- Song 3 -------->
                    <div class="songs">
                        <div class="songs-srno">
                            <p>03</p>
                        </div>
                        <div class="songs-img-div">
                            <img src="images/kaunTuzhe.jfif" alt="" class="songs-img">
                            <i class="fas fa-play songs-img-play kaunTuzhe"></i>
                        </div>
                        <div class="songs-desc">
                            <p><b>Kaun Tuzhe</b></p>
                            <p>Palak Muchhal</p>
                        </div>
                        <div class="like fav">
                            <i class="fas fa-heart"></i>
                        </div>
                    </div>
                    <!----- Song 4 -------->
                    <div class="songs">
                        <div class="songs-srno">
                            <p>04</p>
                        </div>
                        <div class="songs-img-div">
                            <img src="images/mirage.jpg" alt="" class="songs-img">
                            <i class="fas fa-play songs-img-play mirage"></i>
                        </div>
                        <div class="songs-desc">
                            <p><b>Mirage</b></p>
                            <p>Dino James</p>
                        </div>
                        <div class="like fav">
                            <i class="fas fa-heart"></i>
                        </div>
                    </div>
                    <!----- Song 5 -------->
                    <div class="songs">
                        <div class="songs-srno">
                            <p>05</p>
                        </div>
                        <div class="songs-img-div">
                            <img src="images/jeenaJeena.jpg" alt="" class="songs-img">
                            <i class="fas fa-play songs-img-play jeenaJeena"></i>
                        </div>
                        <div class="songs-desc">
                            <p><b>Jeena Jeena</b></p>
                            <p>Atif Aslam</p>
                        </div>
                        <div class="like fav">
                            <i class="fas fa-heart"></i>
                        </div>
                    </div>
                    <!----- Song 6 -------->
                    <div class="songs">
                        <div class="songs-srno">
                            <p>06</p>
                        </div>
                        <div class="songs-img-div">
                            <img src="images/kaunTuzhe.jfif" alt="" class="songs-img">
                            <i class="fas fa-play songs-img-play kaunTuzhe"></i>
                        </div>
                        <div class="songs-desc">
                            <p><b>Kaun Tuzhe</b></p>
                            <p>Palak Muchhal</p>
                        </div>
                        <div class="like fav">
                            <i class="fas fa-heart"></i>
                        </div>
                    </div>
                    <!----- Song 7 -------->
                    <div class="songs">
                        <div class="songs-srno">
                            <p>07</p>
                        </div>
                        <div class="songs-img-div">
                            <img src="images/mirage.jpg" alt="" class="songs-img">
                            <i class="fas fa-play songs-img-play mirage"></i>
                        </div>
                        <div class="songs-desc">
                            <p><b>Mirage</b></p>
                            <p>Dino James</p>
                        </div>
                        <div class="like fav">
                            <i class="fas fa-heart"></i>
                        </div>
                    </div>
                    <!----- Song 8 -------->
                    <div class="songs">
                        <div class="songs-srno">
                            <p>08</p>
                        </div>
                        <div class="songs-img-div">
                            <img src="images/jeenaJeena.jpg" alt="" class="songs-img">
                            <i class="fas fa-play songs-img-play jeenaJeena"></i>
                        </div>
                        <div class="songs-desc">
                            <p><b>Jeena Jeena</b></p>
                            <p>Atif Aslam</p>
                        </div>
                        <div class="like fav">
                            <i class="fas fa-heart"></i>
                        </div>
                    </div>
                    <!----- Song 9 -------->
                    <div class="songs">
                        <div class="songs-srno">
                            <p>09</p>
                        </div>
                        <div class="songs-img-div">
                            <img src="images/kaunTuzhe.jfif" alt="" class="songs-img">
                            <i class="fas fa-play songs-img-play kaunTuzhe"></i>
                        </div>
                        <div class="songs-desc">
                            <p><b>Kaun Tuzhe</b></p>
                            <p>Palak Muchhal</p>
                        </div>
                        <div class="like fav">
                            <i class="fas fa-heart"></i>
                        </div>
                    </div>
                    <!----- Song 10 -------->
                    <div class="songs">
                        <div class="songs-srno">
                            <p>10</p>
                        </div>
                        <div class="songs-img-div">
                            <img src="images/mirage.jpg" alt="" class="songs-img">
                            <i class="fas fa-play songs-img-play mirage"></i>
                        </div>
                        <div class="songs-desc">
                            <p><b>Mirage</b></p>
                            <p>Dino James</p>
                        </div>
                        <div class="like fav">
                            <i class="fas fa-heart"></i>
                        </div>
                    </div>
                    <!----- Song 11 -------->
                    <div class="songs">
                        <div class="songs-srno">
                            <p>11</p>
                        </div>
                        <div class="songs-img-div">
                            <img src="images/jeenaJeena.jpg" alt="" class="songs-img">
                            <i class="fas fa-play songs-img-play jeenaJeena"></i>
                        </div>
                        <div class="songs-desc">
                            <p><b>Jeena Jeena</b></p>
                            <p>Atif Aslam</p>
                        </div>
                        <div class="like fav">
                            <i class="fas fa-heart"></i>
                        </div>
                    </div>
                    <!----- Song 12 -------->
                    <div class="songs">
                        <div class="songs-srno">
                            <p>12</p>
                        </div>
                        <div class="songs-img-div">
                            <img src="images/kaunTuzhe.jfif" alt="" class="songs-img">
                            <i class="fas fa-play songs-img-play kaunTuzhe"></i>
                        </div>
                        <div class="songs-desc">
                            <p><b>Kaun Tuzhe</b></p>
                            <p>Palak Muchhal</p>
                        </div>
                        <div class="like fav">
                            <i class="fas fa-heart"></i>
                        </div>
                    </div>
                    <!----- Song 13 -------->
                    <div class="songs">
                        <div class="songs-srno">
                            <p>13</p>
                        </div>
                        <div class="songs-img-div">
                            <img src="images/mirage.jpg" alt="" class="songs-img">
                            <i class="fas fa-play songs-img-play mirage"></i>
                        </div>
                        <div class="songs-desc">
                            <p><b>Mirage</b></p>
                            <p>Dino James</p>
                        </div>
                        <div class="like fav">
                            <i class="fas fa-heart"></i>
                        </div>
                    </div>
                    <!----- Song 14 -------->
                    <div class="songs">
                        <div class="songs-srno">
                            <p>14</p>
                        </div>
                        <div class="songs-img-div">
                            <img src="images/jeenaJeena.jpg" alt="" class="songs-img">
                            <i class="fas fa-play songs-img-play jeenaJeena"></i>
                        </div>
                        <div class="songs-desc">
                            <p><b>Jeena Jeena</b></p>
                            <p>Atif Aslam</p>
                        </div>
                        <div class="like fav">
                            <i class="fas fa-heart"></i>
                        </div>
                    </div>
                    <!----- Song 15 -------->
                    <div class="songs">
                        <div class="songs-srno">
                            <p>15</p>
                        </div>
                        <div class="songs-img-div">
                            <img src="images/kaunTuzhe.jfif" alt="" class="songs-img">
                            <i class="fas fa-play songs-img-play kaunTuzhe"></i>
                        </div>
                        <div class="songs-desc">
                            <p><b>Kaun Tuzhe</b></p>
                            <p>Palak Muchhal</p>
                        </div>
                        <div class="like fav">
                            <i class="fas fa-heart"></i>
                        </div>
                    </div>
                    <!----- Song 16 -------->
                    <div class="songs">
                        <div class="songs-srno">
                            <p>16</p>
                        </div>
                        <div class="songs-img-div">
                            <img src="images/mirage.jpg" alt="" class="songs-img">
                            <i class="fas fa-play songs-img-play mirage"></i>
                        </div>
                        <div class="songs-desc">
                            <p><b>Mirage</b></p>
                            <p>Dino James</p>
                        </div>
                        <div class="like fav">
                            <i class="fas fa-heart"></i>
                        </div>
                    </div>
                    <!----- Song 17 -------->
                    <div class="songs">
                        <div class="songs-srno">
                            <p>17</p>
                        </div>
                        <div class="songs-img-div">
                            <img src="images/jeenaJeena.jpg" alt="" class="songs-img">
                            <i class="fas fa-play songs-img-play jeenaJeena"></i>
                        </div>
                        <div class="songs-desc">
                            <p><b>Jeena Jeena</b></p>
                            <p>Atif Aslam</p>
                        </div>
                        <div class="like fav">
                            <i class="fas fa-heart"></i>
                        </div>
                    </div>
                    <!----- Song 18 -------->
                    <div class="songs">
                        <div class="songs-srno">
                            <p>18</p>
                        </div>
                        <div class="songs-img-div">
                            <img src="images/kaunTuzhe.jfif" alt="" class="songs-img">
                            <i class="fas fa-play songs-img-play kaunTuzhe"></i>
                        </div>
                        <div class="songs-desc">
                            <p><b>Kaun Tuzhe</b></p>
                            <p>Palak Muchhal</p>
                        </div>
                        <div class="like fav">
                            <i class="fas fa-heart"></i>
                        </div>
                    </div>
                    <!----- Song 19 -------->
                    <div class="songs">
                        <div class="songs-srno">
                            <p>19</p>
                        </div>
                        <div class="songs-img-div">
                            <img src="images/mirage.jpg" alt="" class="songs-img">
                            <i class="fas fa-play songs-img-play mirage"></i>
                        </div>
                        <div class="songs-desc">
                            <p><b>Mirage</b></p>
                            <p>Dino James</p>
                        </div>
                        <div class="like fav">
                            <i class="fas fa-heart"></i>
                        </div>
                    </div>
                    <!----- Song 20 -------->
                    <div class="songs">
                        <div class="songs-srno">
                            <p>20</p>
                        </div>
                        <div class="songs-img-div">
                            <img src="images/jeenaJeena.jpg" alt="" class="songs-img">
                            <i class="fas fa-play songs-img-play jeenaJeena"></i>
                        </div>
                        <div class="songs-desc">
                            <p><b>Jeena Jeena</b></p>
                            <p>Atif Aslam</p>
                        </div>
                        <div class="like fav">
                            <i class="fas fa-heart"></i>
                        </div>
                    </div>
                    <!----- Song 21 -------->
                    <div class="songs">
                        <div class="songs-srno">
                            <p>21</p>
                        </div>
                        <div class="songs-img-div">
                            <img src="images/kaunTuzhe.jfif" alt="" class="songs-img">
                            <i class="fas fa-play songs-img-play kaunTuzhe"></i>
                        </div>
                        <div class="songs-desc">
                            <p><b>Kaun Tuzhe</b></p>
                            <p>Palak Muchhal</p>
                        </div>
                        <div class="like fav">
                            <i class="fas fa-heart"></i>
                        </div>
                    </div>
                    <!----- Song 22 -------->
                    <div class="songs">
                        <div class="songs-srno">
                            <p>22</p>
                        </div>
                        <div class="songs-img-div">
                            <img src="images/mirage.jpg" alt="" class="songs-img">
                            <i class="fas fa-play songs-img-play mirage"></i>
                        </div>
                        <div class="songs-desc">
                            <p><b>Mirage</b></p>
                            <p>Dino James</p>
                        </div>
                        <div class="like fav">
                            <i class="fas fa-heart"></i>
                        </div>
                    </div>
                    <!----- Song 23 -------->
                    <div class="songs">
                        <div class="songs-srno">
                            <p>23</p>
                        </div>
                        <div class="songs-img-div">
                            <img src="images/jeenaJeena.jpg" alt="" class="songs-img">
                            <i class="fas fa-play songs-img-play jeenaJeena"></i>
                        </div>
                        <div class="songs-desc">
                            <p><b>Jeena Jeena</b></p>
                            <p>Atif Aslam</p>
                        </div>
                        <div class="like fav">
                            <i class="fas fa-heart"></i>
                        </div>
                    </div>
                    <!----- Song 24 -------->
                    <div class="songs">
                        <div class="songs-srno">
                            <p>24</p>
                        </div>
                        <div class="songs-img-div">
                            <img src="images/kaunTuzhe.jfif" alt="" class="songs-img">
                            <i class="fas fa-play songs-img-play kaunTuzhe"></i>
                        </div>
                        <div class="songs-desc">
                            <p><b>Kaun Tuzhe</b></p>
                            <p>Palak Muchhal</p>
                        </div>
                        <div class="like fav">
                            <i class="fas fa-heart"></i>
                        </div>
                    </div>
                </div>
            </aside>
        </main>