<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon for ou website -->
    <link rel="shortcut icon" href="images/website_logo.ico" type="image/x-icon">
    <!-- CSS File -->
    <link rel="stylesheet" href="styles.css">
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/a51dece881.js" crossorigin="anonymous"></script>
    <title>Music Player</title>
</head>